* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #06121e;
}

/* Container utama */
.login-container {
  position: relative;
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  z-index: 2;
  box-shadow: 0 0 30px rgba(0, 198, 255, 0.3);
}


/* Lingkaran dash */
.login-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 520px;
  height: 520px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 8px dashed #2b6cb0;
  opacity: 0.5;
  z-index: -1;
  animation: rotate 20s linear infinite;
}

/* Animasi muter */
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Title */
.login-container h2 {
  text-align: center;
  color: #00c6ff;
  margin-bottom: 30px;
}

/* Input */
.input-group {
  margin-bottom: 25px;
}

.input-group label {
  display: block;
  color: #00c6ff;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #00c6ff;
  color: white;
  outline: none;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;
}

.login-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 198, 255, 0.5);
}

.input-group input:focus {
  border-bottom: 2px solid #00c6ff;
  box-shadow: 0 5px 15px rgba(0, 198, 255, 0.4);
}

.login-btn a {
    color: white;
    text-decoration: none;
}